<% if flash[:notice] %>
   <p class="notice-message"><%= flash[:notice] %></p>
<% end %>

<% if @book_add.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @book_add.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container-fluid">
	<div class="row col-xs-12">
		<div class="col-xs-4">
			<h2>User info</h2>
			<table class="table margin-bottom-0">
				<tbody>
					<tr>
						<th>
							<% if @user.profile_image.present? %>
								<%= attachment_image_tag @user, :profile_image, :fill, 60, 60%>
							<% else %>
								<%= image_tag 'no-image.png', :size => '60x60' %>
							<% end %>
						</th>
					</tr>
					<tr>
						<th>name:</th>
						<td><%= @user.name%></td>
					</tr>
					<tr>
						<th>introduction:</th>
							<td><%= @user.introduction%></td>
					</tr>
				</tbody>
			</table>
			<% if @user.id == current_user.id %>
				<button class="btn btn-default btn-block "><%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "edit_user_#{current_user.id}" %></button>
			<% else %>
				<button class="btn btn-default btn-block ">
					<%= link_to "マイページへ", user_path(current_user.id), class: "user_#{current_user.id}" %>
				</button>
			<% end %>

			<%= form_for(@book_add) do |f| %>
				<h2>New book</h2>
				<table class="table  margin-bottom-0 margin-top-20">
					<tbody>
						<tr>
							<th>
								<%= f.text_field :title, placeholder:"タイトル", class: "form-control book_title"%>
							</th>
						</tr>
						<tr>
							<th>
								<%= f.text_field :opinion, placeholder:"感想", class: "form-control book_body"%>
							</th>
						</tr>
					</tbody>
				</table>
					<%= f.submit "Create book"%>
			<% end %>
		</div>

		<div class="col-xs-8">
			<h2>Book detail</h2>
			<table class="table">
			<% if @select_book.present? %>
				<thead>
					<tr>
						<th>Image</th>
						<th>Title</th>
						<th>Detail</th>
					</tr>
				</thead>
					<% if @select_book.user_id == current_user.id %>
						<tbody>
							<tr>
								<th>
									<% submit_user = User.find_by(id: @select_book.user_id) %>
									<% if submit_user.profile_image.present? %>
										<%= attachment_image_tag submit_user, :profile_image, :fill, 60, 60 %>
									<% else %>
										<%= image_tag 'no-image.png', :size => '60x60' %>
									<% end %>
									<%= submit_user.name %>
								</th>
								<td>
									<%= @select_book.title %>
								</td>
								<td>
									<%= @select_book.opinion %>
								</td>
								<td>
									<%=link_to "Edit", edit_book_path(@select_book.id), class: "edit_book_#{@select_book.id}" %>
								</td>
								<td>
									<%= link_to "Delete", "#{@select_book.id}", class: "destroy_book_#{@select_book.id}", method: :delete, "data-confirm" => "Are you sure?" %>
								</td>
							</tr>
						</tbody>
					<% else %>
						<tbody>
							<tr>
								<th>
									<% submit_user = User.find_by(id: @select_book.user_id) %>
									<% if submit_user.profile_image.present? %>
										<%= attachment_image_tag submit_user, :profile_image, :fill, 60, 60 %>
									<% else %>
										<%= image_tag 'no-image.png', :size => '60x60' %>
									<% end %>
									<%= submit_user.name %>
								</th>
								<td>
									<%= @select_book.title %>
								</td>
								<td>
									<%= @select_book.opinion %>
								</td>
							</tr>
						</tbody>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>


<!-- <div class="container-fluid">
	<div class="row col-xs-12">
		<div class="col-xs-4">
			<div class="row sampleRow">
				<div class="col-xs-12">
					<h2>User info</h2>
				</div>
				<div class="col-xs-12">
					<% if @user.profile_image.present? %>
						<%= attachment_image_tag @user, :profile_image, :fill, 60, 60%>
					<% else %>
						<%= image_tag 'no-image.png', :size => '60x60' %>
					<% end %>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-4">
						<p>name</p>
					</div>
					<div class="col-xs-8">
						<p><%= @user.name%></p>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-4">
						<p>introduction</p>
					</div>
					<div class="col-xs-8">
						<p><%= @user.introduction%> </p>
					</div>
				</div>
				<div class="col-xs-12">
					<% if @user.id == current_user.id %>
						<p><%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "edit_user_#{current_user.id}" %></p>
					<% else %>
						<p><%= link_to "マイページへ", user_path(current_user.id), class: "user_#{current_user.id}" %></p>
					<% end %>
				</div>
			</div>
			<%= form_for(@book_add) do |f| %>
　　　　　　　	<div class="row sampleRow">
					<div class="col-xs-12">
						<h2>New book</h2>
					</div>
					<div class="col-xs-12">
						<%= f.text_field :title, placeholder:"タイトル", class: "form-control book_title"%>
					</div>
					<div class="col-xs-12">
						<%= f.text_field :opinion, placeholder:"感想", class: "form-control book_body"%>
					</div>
					<div class="col-xs-12">
						<%= f.submit "Create book"%>
					</div>
				</div>
			<% end %>
		</div>

		<div class="col-xs-8 padding-left-5">
			<div class="row sampleRow">
				<div class="col-xs-12">
					<h2>Book detail</h2>
				</div>
				<% if @select_book.present? %>
					<% if @select_book.user_id == current_user.id %>
						<div class="col-xs-12">
							<div class="col-xs-4">
								<% submit_user = User.find_by(id: @select_book.user_id) %>
								<% if submit_user.profile_image.present? %>
									<%= attachment_image_tag submit_user, :profile_image, :fill, 60, 60 %>
								<% else %>
									<%= image_tag 'no-image.png', :size => '60x60' %>
								<% end %>
								<%= submit_user.name %>
							</div>
							<div class="col-xs-2">
								<%= @select_book.title %>
							</div>
							<div class="col-xs-2">
								<%= @select_book.opinion %>
							</div>
							<div class="col-xs-2">
								<%=link_to "Edit", edit_book_path(@select_book.id), class: "edit_book_#{@select_book.id}" %>
							</div>
							<div class="col-xs-2">
								<%= link_to "Delete", "#{@select_book.id}", class: "destroy_book_#{@select_book.id}", method: :delete, "data-confirm" => "Are you sure?" %>
							</div>
						</div>
				 	<% else %>
						<div class="col-xs-12">
							<div class="col-xs-3">
								<% submit_user = User.find_by(id: @select_book.user_id) %>
								<% if submit_user.profile_image.present? %>
									<%= attachment_image_tag submit_user, :profile_image, :fill, 60, 60 %>
								<% else %>
									<%= image_tag 'no-image.png', :size => '60x60' %>
								<% end %>
								<%= submit_user.name %>
							</div>
							<div class="col-xs-3">
								<%= @select_book.title %>
							</div>
							<div class="col-xs-6">
								<%= @select_book.opinion %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div> -->